@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=4dabc17176b0fd7015edccfa2537a11c'); /* IE9 */
  src: url('iconfont.eot?t=4dabc17176b0fd7015edccfa2537a11c#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=4dabc17176b0fd7015edccfa2537a11c') format('woff2'),
  url('iconfont.woff?t=4dabc17176b0fd7015edccfa2537a11c') format('woff'), /* chromeã€firefox */
  url('iconfont.ttf?t=4dabc17176b0fd7015edccfa2537a11c') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=4dabc17176b0fd7015edccfa2537a11c#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xxn-about:before {
  content: "\e001";
}
.xxn-link:before {
  content: "\e002";
}
.xxn-precious-deposits:before {
  content: "\e003";
}
.xxn-essay:before {
  content: "\e004";
}
.xxn-inbox:before {
  content: "\e005";
}
.xxn-square:before {
  content: "\e006";
}
.xxn-subway:before {
  content: "\e007";
}
.xxn-random:before {
  content: "\e008";
}
.xxn-search:before {
  content: "\e009";
}
.xxn-bars:before {
  content: "\e00a";
}
.xxn-calendar:before {
  content: "\e00e";
}
.xxn-categories:before {
  content: "\e00f";
}
.xxn-quantity:before {
  content: "\e010";
}
.xxn-time-fill:before {
  content: "\e011";
}
.xxn-gift:before {
  content: "\e012";
}
.xxn-thumbs:before {
  content: "\e013";
}
.xxn-toc:before {
  content: "\e014";
}
.xxn-qq:before {
  content: "\e015";
}
.xxn-tg:before {
  content: "\e016";
}
.xxn-rss:before {
  content: "\e017";
}
.xxn-tags:before {
  content: "\e018";
}
.xxn-archives:before {
  content: "\e019";
}
.xxn-chart-line:before {
  content: "\e01a";
}
.xxn-message:before {
  content: "\e01c";
}
.xxn-angle-left:before {
  content: "\e01d";
}
.xxn-angle-right:before {
  content: "\e01e";
}
.xxn-refresh:before {
  content: "\e020";
}
.xxn-changing-over:before {
  content: "\e022";
}
.xxn-new-window:before {
  content: "\e023";
}
.xxn-jump-link:before {
  content: "\e024";
}
.xxn-read:before {
  content: "\e025";
}
.xxn-download-save:before {
  content: "\e026";
}
.xxn-baidu:before {
  content: "\e027";
}
.xxn-copy-paste:before {
  content: "\e028";
}
.xxn-full-screen:before {
  content: "\e029";
}
.xxn-simple-complex:before {
  content: "\e02a";
}
.xxn-conceal:before {
  content: "\e02b";
}
.xxn-cc:before {
  content: "\e02c";
}
.xxn-photos:before {
  content: "\e02d";
}
.xxn-play:before {
  content: "\e02f";
}
.xxn-51la:before {
  content: "\e030";
}
.xxn-music:before {
  content: "\e031";
}
.xxn-alipay:before {
  content: "\e032";
}
.xxn-weixin:before {
  content: "\e033";
}
.xxn-publish-location:before {
  content: "\e034";
}
.xxn-chat-records:before {
  content: "\e035";
}
.xxn-Ai-Summary:before {
  content: "\e036";
}
.xxn-comments:before {
  content: "\e037";
}
.xxn-head-tags:before {
  content: "\e038";
}
.xxn-post-cc:before {
  content: "\e039";
}
.xxn-home:before {
  content: "\e03a";
}
.xxn-visitor:before {
  content: "\e03b";
}
.xxn-go-right:before {
  content: "\e03c";
}
.xxn-star-half:before {
  content: "\e03d";
}
.xxn-star-empty:before {
  content: "\e03e";
}
.xxn-star:before {
  content: "\e03f";
}
.xxn-project:before {
  content: "\e040";
}
.xxn-project-complete:before {
  content: "\e041";
}
.xxn-bullhorn:before {
  content: "\e042";
}
.xxn-thumbtack:before {
  content: "\e043";
}
.xxn-GitHub:before {
  content: "\e044";
}
.xxn-arrow-up:before {
  content: "\e045";
}
.xxn-adjust:before {
  content: "\e046";
}
.xxn-cog:before {
  content: "\e047";
}
.xxn-book-open:before {
  content: "\e048";
}
.xxn-angle-down:before {
  content: "\e049";
}
.xxn-close:before {
  content: "\e04a";
}
.xxn-danmu:before {
  content: "\e04b";
}
.xxn-chevron-right:before {
  content: "\e04c";
}
.xxn-chevron-left:before {
  content: "\e04d";
}
.xxn-chevron-too:before {
  content: "\e04e";
}
.xxn-comments-author:before {
  content: "\e04f";
}
.xxn-aifadian:before {
  content: "\e052";
}
.xxn-angle-down-new:before {
  content: "\e053";
}
.xxn-spinner:before {
  content: "\e054";
}
.xxn-subscribe-to:before {
  content: "\e055";
}
.xxn-operate:before {
  content: "\e056";
}
.xxn-note-success:before {
  content: "\e057";
}
.xxn-note-info:before {
  content: "\e058";
}
.xxn-note-warning:before {
  content: "\e059";
}
.xxn-note-danger:before {
  content: "\e05a";
}
.xxn-angle-double-down:before {
  content: "\e05b";
}
.xxn-zhihu:before {
  content: "\e05c";
}
.xxn-jianshu:before {
  content: "\e05d";
}
.xxn-wechat:before {
  content: "\e05e";
}
.xxn-juejin:before {
  content: "\e05f";
}
